#title{
  background-color: #4B0082;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #FFC107;
}
.p1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 1.8rem;
font-family: 'Ubuntu', sans-serif;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid
{
  padding: 3% 15%;

}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.downbtno{
  margin-right: 20%;
}
.titleimage{
  width: 60%
  position: absolute;
  right: 30%

}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.icon{
  color: #592d86;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #4B0082;
}
#testimonials{
  text-align: center;
  background-color:#592d86;
  color: #ffffff;
}
#press{
  background-color: #592d86;
  text-align:center;
  padding-bottom: 3%;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
padding: 100px;
}
#cta{
  background-color: #4B0082;
  color: #FFC107;
  padding: 7% 15%;
}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

#footer{
  padding: 7% 15%;
  text-align: center;

}
.social-icon{
  margin: 20px 10px;
}







@@media (max-width:1028px) {
  .titleimage{
    position:static;
  }
  #title{
    text-align: center;
  }
}
